.App {
  /*text-align: center;*/
  width: 100%;
    height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #262c34;
}

.App-header {

  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.div-footer{
  text-align: center;
  color: white;
}
.App-body {
  width: 100%;
    height: 100%;
  background-color: #262c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.div-educacion{
  margin: 3%;
  padding: 1%;
  width: 60%;
  border: 2px solid white;
  border-radius: 5px;
}
.div-experiencias{
  float: right;
  text-overflow: clip;
  margin: 3%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 5px;
  color:white;
}
.div-datos-personales{
  width: 60%;
  text-overflow: clip;
  margin: 3%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 5px;

}
.div-Intereses{
  margin-top: 3%;
  padding: 1%;
}
.yo{
  width: 10%;
  margin: 1%;
}

@media (max-width: 1600px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 1024px) and (orientation: landscape) {

}

@media (max-width: 770px) {

}

@media (max-width: 770px) and (orientation: portrait) {

}

@media (max-width: 770px) and (orientation: landscape) {

}

@media(max-width: 600px) {
  .yo{
    width: 20%;
  }
}

@media(max-width: 600px) and (orientation: landscape) {
    .yo{
      width: 20%;
    }
    .div-educacion{
      width: auto;
    }
    .div-experiencias{
      float: none;
      width: auto;
    }
    .div-datos-personales{
      width:auto;
    }
}
