.App {
  /*text-align: center;*/
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #262c34;
}

.App-header {

  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.div-footer{
  text-align: center;
  color: white;
}
.App-body {
  background-color: #262c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.div-educacion{
  margin: 3%;
  padding: 1%;
  width: 60%;
  border: 2px solid white;
  border-radius: 5px;
  border-spacing:
}
.div-experiencias{
  float: right;
  text-overflow: clip;
  margin: 3%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 5px;
  color:white;
}
.div-datos-personales{
  width: 60%;
  text-overflow: clip;
  margin: 3%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 5px;

}
.div-Intereses{
  margin-top: 3%;
  padding: 1%;
}
.img-yo{
  width: 10%;
  margin: 1%;
}
